<div class="input-container">
    <mat-button-toggle-group [(ngModel)]="inputMode" aria-label="Input Mode" class="input-mode-toggle">
        <mat-button-toggle value="text" matTooltip="Plain Text Mode">
            <mat-icon>subject</mat-icon>
            Text
        </mat-button-toggle>
        <mat-button-toggle value="markdown" matTooltip="Markdown Mode">
            <mat-icon>code</mat-icon>
            Markdown
        </mat-button-toggle>
    </mat-button-toggle-group>

    <ng-container [ngSwitch]="inputMode">
        <div *ngSwitchCase="'text'" class="editor-container">
            <textarea matInput placeholder="Paste AI response" [formControl]="text" rows="6" class="restore"
                (paste)="handlePaste($event)"></textarea>
        </div>
        <div *ngSwitchCase="'markdown'" class="editor-container">
            <div class="markdown-container">
                <div class="editor">
                    <textarea matInput placeholder="Enter markdown" [formControl]="text" rows="6" class="restore"
                        (paste)="handlePaste($event)"></textarea>
                </div>
                <div class="preview">
                    <markdown [data]="text.value || ''" class="markdown-content"></markdown>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="actions">
        <button mat-raised-button color="primary" (click)="restore()"
            matTooltip="Convert codenames back to original names">
            <mat-icon>restore</mat-icon>
            Restore
        </button>

        <pre>{{ restored }}</pre>
        <button mat-raised-button (click)="download()" [disabled]="!restored"
            [matTooltip]="'Save restored ' + (inputMode === 'markdown' ? 'markdown' : 'text') + ' as file'">
            <mat-icon>download</mat-icon>
            Download .{{ inputMode === 'markdown' ? 'md' : 'txt' }}
        </button>