<div class="output">
  <pre>{{ sanitized }}</pre>
  <button mat-raised-button color="primary" (click)="copy()" matTooltip="Copy sanitized text">
    <mat-icon>content_copy</mat-icon>
    Copy
  </button>
</div>
<table mat-table [dataSource]="(nameMap.mappings$ | async) || []" class="mat-elevation-z2">
  <ng-container matColumnDef="real">
    <th mat-header-cell *matHeaderCellDef> Real Name </th>
    <td mat-cell *matCellDef="let element"> {{element.realName}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code Name </th>
    <td mat-cell *matCellDef="let element"> {{element.codeName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>